/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */

@import "bootstrap.css";

header {
  min-width: 100%;
}

body {
  background-color: #5c9eef;
  background-size: cover;
}

.site_container {
  max-width: 960px;
  margin: auto;
}

#userViewContainer form {
  display: inline-block;
}

.yield_container {
  width: 100%;
}

.indi_product {
  display: inline-block;
  max-width: 280px;
  border: 1px solid transparent;
  padding: 15px;
  margin: 1em;
  background-color: #efe2d5;
  border-radius: 5px;
}

.indi_product img {
  border-radius: 8px;
}

.product_left_panel , .product_right_panel {
  display: inline-block;
  vertical-align: top;
  min-width: 48%;
}
