<div id="carousel-marketplac-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-marketplac-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-marketplac-generic" data-slide-to="1"></li>
    <li data-target="#carousel-marketplac-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/images/carousel-example1.jpeg" alt="animal">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="/images/carousel-example2.jpeg" alt="animal">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="/images/carousel-example3.jpeg" alt="animal">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-marketplac-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-marketplac-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<hr class="style-eight"><br><br>


<div class="allProducts_container">
  <% @products.each do |product| %>
    <div class="indi_product">
      <%= image_tag product.image_url %>
      <small><%= product.title %></small>
      <small><%= number_to_currency product.price %> AUD</small><br>
      <%= render :partial => 'product_info', :locals => {product:product} %>
    </div>
  <% end %>
</div>

<a href="#header" id="scroll-to-top" style="display: inline;"><span>Jump to top</span></a>