
<div class="allProducts_container">
  <% @products.each do |product| %>
    <div class="indi_product">
      <%= image_tag product.image_url %>
      <small><%= product.title %></small>
      <small><%= number_to_currency product.price %> AUD</small><br>
      <%= render :partial => 'product_info', :locals => {product:product} %>
    </div>
  <% end %>
</div>

<a href="#header" id="scroll-to-top" style="display: inline;"><span>Jump to top</span></a>