<h2>Thank you! Please check your email.</h2>

<h3>We will send the confirmation of order shortly.</h3>
<h3>Please stay on page, we will redirect you to homepage now.</h3>

<%= button_to 'Continue to Shop', root_path, :method => 'get', :class => 'btn btn-info' %>
